# Options and Settings

In [1]:
import pandas as pd
import numpy as np

## Changing Options with Attributes and Dot Syntax

In [3]:
data = np.random.randint(0,100,[1000,50])

In [4]:
df = pd.DataFrame(data)
df.head()

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,32,53,74,26,2,17,35,25,25,99,...,23,22,72,91,58,9,25,97,96,23
1,48,66,77,8,68,37,81,36,47,32,...,5,83,30,22,14,8,42,57,57,13
2,92,55,55,50,22,66,5,68,17,57,...,65,50,89,52,40,28,11,41,35,57
3,51,61,98,64,54,98,35,31,38,76,...,29,72,8,19,31,66,55,71,13,65
4,12,84,16,18,93,91,89,50,50,92,...,64,65,66,71,28,2,98,65,77,68

In [5]:
# this is mutable 
pd.options.display.max_rows

60